.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}


@media screen and (max-width: 425px){
  .header__logo {
    width: 104px;
    height: 24px;
    margin-bottom: 32px;
    padding-top: 28px;
    padding-left: 27px;
  }
}