.element__delete {
  position: absolute;
  display: block;
  width: 48px;
  height: 20px;
  margin-top: 18px;
  margin-left: 80%;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("../../../images/delet.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.element__delete:hover {
  transition: ease-in-out 0.3s;
  opacity: 0.6;
}