@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__title/profile__title.css);
@import url(./__wrapper/profile__wrapper.css);
@import url(__subtitle/profile__subtitle.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);

.profile {
    display: flex;
    flex-direction: row;
    max-width: 882px;
    margin: 0 auto;
    padding-top: 40px;
}

@media screen and (max-width: 1024px) {
    .profile {
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        display: flex;
        flex-direction: column;
        padding-top: 42px;
        padding-right: 19px;
        padding-left: 19px;
    }
}