.element__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  overflow: hidden;
  width: 74%;
  margin: 0 auto 0 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}
