.popup__input-error {
  top: calc(100% + 6px);
  font-size: 12px;
  line-height: 15px;
  color: red;
  display: none;
  word-wrap: break-word;
}

@media screen and (max-width: 419px) {
  .popup__input-error {
    top: calc(100% + 1px);
    line-height: 1.2;
  }
}
