.template-card__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  overflow: hidden;
  max-width: 220px;
  margin: 25px 0 25px 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000000;
}