.element__heart {
  width: 21px;
  height: 18px;
  margin-right: 7%;
  padding: 0;
  border: 0;
  background-color: unset;
  background-image: url(../../../images/like.svg);
}

.element__heart:hover {
  cursor: pointer;
  opacity: 0.6;
}