@import url(./__container/elements__container.css);

.elements {
  max-width: 882px;
  margin: auto;
  padding-top: 47px;
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .elements {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 425px) {
  .elements {
    padding-top: 36px;
    padding-right: 19px;
    padding-left: 19px;
  }
}
