.popup__item {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  box-sizing: border-box;
  width: 100%;
  height: 27px;
  margin-bottom: 30px;
  padding-bottom: 13px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
}