.element__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 28px;
  padding-top: 28px;
  border-radius: 0 0 10px 10px;
  background-color: #FFFFFF;
}